Source: iptstate
Section: admin
Priority: optional
Maintainer: Kevin Chevreuil - Kaisen <kaisen@kaisenlinux.org>
Build-Depends: debhelper-compat (= 13), libnetfilter-conntrack-dev, libncurses-dev
Standards-Version: 4.6.0
Homepage: https://www.phildev.net/iptstate/
Vcs-Browser: https://gitlab.com/kaisenlinux/packages/iptstate
Vcs-Git: https://gitlab.com/kaisenlinux/packages/iptstate.git

Package: iptstate
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libnetfilter-conntrack3, libncurses6
Description: top-like interface to your netfilter connection-tracking table
 IP Tables State (iptstate) was originally written to implement
 the "state top" feature of IP Filter in IP Tables. "State top"
 displays the states held by your stateful firewall in a
 top-like manner.
 .
 Features include:
  - Top-like realtime state table information
  - Sorting by any field
  - Reversible sorting
  - Single display of state table
  - Customizable refresh rate
  - Display filtering
  - Color-coding
  - much more...
 .
 To use iptstate, CONNTRACK should be enabled in your kernel.
